body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.sign-in-container {
  min-height: 100dvh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.core-slider-menu {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100dvh;
}

.core-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
}
